<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} Bienes Raices MultiCasa {% endblock %}</title>

	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/base/global.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base/nav.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base/aside.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base/footer.css') }}">

	{% block styles %}{% endblock %}

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
</head>
<body>
	<!-- MAIN NAV PAGE -->
	<nav class="b-navbar">
		<i id="bmenu-icon" class="material-icons">menu</i>

		<img src="{{ url_for('static', filename='images/large-logo.png') }}">

		<div class="b-phone-info">
			<i class="material-icons">local_phone</i>
			<i>Llama al: </i>
			<i>844 191 6266</i>
		</div>

		<ul class="bmenu-options">
			<li class="selected">Inicio</li>
			<li>La Compañía</li>
			<li>Servicios</li>
			<li>Requisitos</li>
			<li>Contactos</li>
		</ul>

		<ul class="b-basic-options">
			<li><img src="{{ url_for('static', filename='images/green-btn-icon.png') }}"> Inicio</li>
			<li><img src="{{ url_for('static', filename='images/green-btn-icon.png') }}"> Buscar</li>
			<li><img src="{{ url_for('static', filename='images/green-btn-icon.png') }}"> Admin </li>
		</ul>

		<ul class="b-af-options">
			<li>Compra</li>
			<li>Construir</li>
			<li>Venta</li>
			<li>Mudanzas</li>
			<li>Seguros</li>
		</ul>
	</nav>

	<!-- PAGE CONTENT -->
	<section class="b-content">
		{% block body %}{% endblock %}
	</section>

	<!-- MAIN ASIDE -->
	<aside class="b-aside">
		<ul class="b-aside-options">
			<li>Compra</li>
			<li>Construir</li>
			<li>Venta</li>
			<li>Mudanzas</li>
			<li>Seguros</li>
			<li>Contactos</li>
		</ul>

		<form class="b-aform" action="" method="get">
			<img src="{{ url_for('static', filename='images/aform-logo.png') }}">

			<div class="b-form-control b-controls-2">
				<label for="">Ciudad y Estado</label>
				<input type="text" name="city" placeholder="No importa">
				<input type="text" name="state" placeholder="No importa">
			</div>

			<div class="b-form-control">
				<label for="">Código Postal</label>
				<input type="number" name="zip_code" placeholder="No importa">
			</div>

			<div class="b-form-control b-controls-2">
				<label for="">Rango de Precios</label>
				<input type="number" name="min_price" placeholder="Minimo">
				<input type="number" name="max_price" placeholder="Máximo">
			</div>

			<div class="b-form-control">
				<label for="">Número de Recámaras</label>
				<input type="number" name="rooms" placeholder="No importa">
			</div>

			<div class="b-form-control">
				<label for="">Número de Baños</label>
				<input type="number" name="bathrooms" placeholder="No importa">
			</div>

			<button type="submit">Buscar</button>
		</form>

		<div class="b-news">
			<h6>Información de Última Hora</h6>
			<ul></ul>
		</div>
	</aside>

	<!-- MAIN FOOTER -->
	<footer class="b-footer">
		<img src="{{ url_for('static', filename='images/logo.png') }}">

		<ul class="b-footer-options">
			<li>Inicio</li>
			<li>Compra</li>
			<li>Construir</li>
			<li>Venta</li>
			<li>Mudanzas</li>
			<li>Seguros</li>
			<li>Contactos</li>
		</ul>

		<i>Bienes Raíces MultiCasa © 2012</i>
	</footer>

	<script src="{{ url_for('static', filename='js/base.js') }}"></script>

	{% block js %}{% endblock %}
</body>
</html>