{% extends 'templates/base.html' %}

{% block styles %}{% endblock %}

{% block body %}

<div class="container p-5 my-5 border">
    <h1>¿Quienes somos?</h1>
    <br>
    <h5>El origen de Multicasas comienza en 2012 cuando David Aguirre, un desarrollador con muchas ganas de llevar su conocimiento a todos lados,
         decidió crear una forma de conseguir un inmueble ajustada a las nuevas generaciones, logrando que todo el servicio se realizará completamente
          a través de una página web sin tener que asistir a oficinas. El mismo comenzó el desarrollo solo, pero al paso del tiempo más personas
           conocedoras del ámbito de venta de inmuebles y desarrolladores que veían futuro a su proyecto se le unieron, logrando así lo que tenemos
            hoy en día y dando más servicios que solo la venta de un inmueble. </h5>
    <br>
    <h5>La pagina web esta diseñada para que las nuevas generaciones puedan tomar las mejores decisiones sin la necesidad de salir de casa,
         pues en esta misma podemos encontrar toda la información referente a la casa que sea de interés, así como su ubicación y una foto,
          este sería el primer paso para después continuar con el proceso directamente con un agente especializado en su respectiva área. </h5>
    <br>
    <h5>La pagina web ha tenido una gran aceptación con todo el público, renovando la venta de inmuebles y otros servicios, a día de hoy se
         han vendido más de 10 000 inmuebles, se ha ayudado a vender a los clientes más de 5 000 inmuebles, y el servicio de mudanzas se esta
          estableciendo como uno de los más confiables en todo el país. Se espera que en 10 años seamos el servicio de venta de inmuebles
           más grande en todo México, y próximamente expandirnos a más países, llevando la experiencia de Multicasa a todo el mundo. </h5>
     <video src="{{ url_for('static', filename='images/videocompleto.mp4') }}" width=820  height=480 controls poster="{{ url_for('static', filename='images/imagenprevia.png') }}">
     Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.<br>
     La versión descargable está disponible en <a href="URL">https://www.mediafire.com/file/6ko3z1j0bm2deie/video+completo.mp4/file</a>. 
     </video>
  </div>

{% endblock %}

{% block js %}{% endblock %}