{% extends 'templates/base.html' %}

{% block styles %}{% endblock %}

{% block body %}
<br><br><br>
<div class="container">

	<h1>Información de contacto</h1>
	<h5>Para contactar directamente con Multicasa puedes llamar a los siguientes numeros:</h5>
	<dl>
		<dd>- 844 503 1562</dd>
		<dd>- 844 622 5252</dd>
		<dd>- 844 272 6136</dd>
	</dl>
	<h5>Si quieres hablar físicamente con alguien para solicitar información puedes visitar
		 nuestra sede en la ciudad de saltillo, la cual se encuentra en: </h5>
	<p><kbd>Ernesto Julio Teissier 559, Entre calles Guadalupe Gonzales Ortiz y Patricio Queen Martin,
		 	Saltillo Coahuila, 25016. </kbd></p>
	<h5>También cuentas con la opción de llegar el siguiente formato para mandar un correo a los administradores:</h5>

	<form id="contact-form" style="margin-bottom: 10px;">
		<div class="form-group">
			<label for="ffull_name">Nombre completo:</label>
			<input type="text" id="ffull_name" name="full_name" class="form-control" placeholder="Ingrese su nombre completo">
		</div>
		<div class="form-group">
			<label for="femail">Correo electronico:</label>
			<input type="email" id="femail" name="email" class="form-control" placeholder="Ingrese su correo electronico">
		</div>
		<div class="form-group">
			<label for="fmessage">Contenido del correo:</label>
			<textarea class="form-control" name="message" id="fmessage" placeholder="Escriba el contenido del mensaje"></textarea>
		</div>
		<div class="form-group">
			<label for="fphone_number">Número de celular:</label>
			<input type="text" maxlength="10" id="fphone_number" name="phone_number" class="form-control" placeholder="Ingrese su numero de celular">
		</div>
		<br><br>
		<button type="submit" class="btn btn-primary">Enviar</button>
	</form>
</div>

{% endblock %}

{% block js %}
	<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock %}