{% extends 'templates/base.html' %}

{% block styles %}{% endblock %}

{% block body %}
<form id="h-form" style="margin: 10px;">
	<input type="hidden" name="id" value="{{ data.get('id', '') }}">

	<div class="form-group">
	<label for="fcity">Ciudad:</label>
	<input type="text" id="fcity" name="city" data-real-name="Ciudad" class="form-control" placeholder="Ciudad donde se ubica" value="{{ data.get('city', '') }}">
	</div>
	<div class="form-group">
		<label for="fstate">Estado:</label>
		<input type="text" id="fstate" name="state" data-real-name="Estado" class="form-control" placeholder="Estado donde se ubica" value="{{ data.get('state', '') }}">
	</div>
	<div class="form-group">
	<label for="fzip_code">Codigo postal:</label>
	<input type="text" id="fzip_code" name="zip_code" data-real-name="Codigo Postal" class="form-control" placeholder="Codigo postal donde se ubica" value="{{ data.get('zip_code', '') }}">
	</div>
	<div class="form-group">
		<label for="fprice">Precio:</label>
		<input type="number" id="fprice" name="price" data-real-name="Precio" class="form-control" placeholder="Precio de la casa o terreno" value="{{ data.get('price', '') }}">
	</div>
	<div class="form-group">
	<label for="frooms">Cuartos:</label>
	<input type="number" id="frooms" name="rooms" data-real-name="Cuartos" class="form-control" placeholder="Numero de cuartos en la casa" value="{{ data.get('rooms', '') }}">
	</div>
	<div class="form-group">
		<label for="fbathrooms">Baños:</label>
		<input type="number" id="fbathrooms" name="bathrooms" data-real-name="Baños" class="form-control" placeholder="Numero de baños en la casa" value="{{ data.get('bathrooms', '') }}">
	</div>
	<div class="form-group">
		<label for="flongitude">Longitud:</label>
		<input type="text" id="flongitude" name="longitude" data-real-name="Longitud" class="form-control" placeholder="Longitud del inmueble (coordenadas)" value="{{ data.get('longitude', '') }}">
	</div>
	<div class="form-group">
		<label for="flatitude">Latitud:</label>
		<input type="text" id="flatitude" name="latitude" data-real-name="Latitud" class="form-control" placeholder="Latitud del inmueble (coordenadas)" value="{{ data.get('latitude', '') }}">
	</div>
	<div class="form-group">
		<label for="fdescription">Descripción:</label>
		<textarea class="form-control" name="description" data-real-name="Descripción" id="fdescription">{{ data.get('description', '') }}</textarea>
	</div>
	<div class="form-group">
		<label for="fstatus">Estado del inmueble:</label>
		<select class="form-control" id="status" name="status" data-real-name="Estado del Inmueble" value="{{ data.get('status', '') }}">
			<option>VENDIDO</option>
			<option>EN VENTA</option>
		</select>
	</div>
	<div class="form-group">
		<label for="ftype">¿Que tipo de inmueble quiere registrar?</label>
		<select class="form-control" id="type" name="type" data-real-name="Tipo de Inmueble" value="{{ data.get('type', '') }}">
		<option>CASA</option>
		<option>TERRENO</option>
		</select>
	</div>
	<div class="form-group" style="margin-top: 10px">
		<label for="fphoto">Suba una foto del inmueble</label>
		<input type="file" class="form-control-file" id="fphoto" name="photo" accept=".png, .jpeg, .jpg">
	</div>

	<button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock %}

{% block js %}
	<script src="{{ url_for('static', filename='js/home_cu.js') }}"></script>
{% endblock %}