{% extends 'templates/base.html' %}

{% block styles %}{% endblock %}

{% block body %}

<div class="container p-5 my-5 border">
    <h1>Seguros que puedes contratar con Multicasa</h1>
    <br>
    <h3>Multicasa brinda la opción de contratar seguros de compañías externas para su hogar, un seguro de casa es un
         contrato de servicio entre el propietario de un inmueble y una entidad aseguradora, a través del cual esta
          última se compromete a cubrir y/o reparar daños al inmueble parciales o totales. Dependiendo del contrato,
           algunos seguros también cubren pérdidas relacionadas con las pertenencias que se ubican dentro del inmueble.  </h3>
    <br>
    <h3>Seguros vinculados a Multicasa:</h3>
    <br>
    <dl>
        <dt>Seguro Hipotecario de Hogar de BBVA</dt>
        <p>Los beneficios y coberturas que encontrarás con este seguro son:</p>
		<dd> 1. No pagas nada en caso de perdida total.</dd>
		<dd> 2. Tus cosas estan aseguradas por robo. </dd>
		<dd> 3. Puedes actualizar el valor de tu hogar en cualquier momento </dd>
        <dd> 4. Protección contra daños a terceros causados por ti o algún familiar </dd>
		<dd> 5. Apoyo con remoción de escombros por daños en tu vivienda. </dd>
		<dd> 6. Te pagan una habitación temporal en caso de que los daños en tu hogar te impidan vivir en el. </dd>
	</dl>
    <ul>
        <li><a href="https://www.bbva.mx/personas/productos/seguros/hogar/seguro-hipotecario-de-hogar.html">Puedes encontrar más información sobre este seguro dando click aqui</a></li>
    </ul>
    <dl>
        <dt>Seguro de Hogar Bien Seguro de MAPFRE</dt>
        <p>Los beneficios y coberturas que encontrarás con este seguro son:</p>
		<p>Para tu familia:</p>
		<dd> 1. Asistencia medica telefonica los 365 dias las 24 horas para toda la familia. </dd>
		<dd> 2. Cubren a toda la familia en asistencias en viajes nacionales e internacionales </dd>
        <dd> 4. Reparaciones inmediatas en los servicios de plomeria, albañileria derivada de plomeria, electricidad, cerrajeria de la casa sin limite de eventos. </dd>
        <p>Para tu patrimonio:</p>
        <dd> 1. La indemnización de cualquier bien de tu patrimonio a valor de nuevo. </dd>
        <dd> 2. Te pagan tus prendas de vestir si son dañadas en tintorerías, lavanderías o sastrerías. </dd>
        <dd> 3. En caso de robo no solo indemnizan los bienes robados, también cubren los daños ocasionados a los bienes a consecuencia del robo.</dd>
    </dl>
    <ul>
        <li><a href="https://www.mapfre.com.mx/particulares/seguros-hogar/seguro-hogar-bien-seguro/">Puedes encontrar más información sobre este seguro dando click aqui</a></li>
    </ul>
    </div>

{% endblock %}

{% block js %}{% endblock %}