{% extends 'templates/base.html' %}

{% block styles %}{% endblock %}

{% block body %}

<div class="container p-5 my-5 border">
    <h1>Servicio de Mudanzas</h1>
    <br>
    <h3>El servicio de mudanzas de Multicasa aún no esta disponible en todas las ciudades de la Republica Mexicana, le pedimos paciencia
         para poder llevar este servicio a cada ciudad, las ciudades que ya cuentan con este servicio son: </h3>
    <br>
    <dl>
		<dd> - Acapulco </dd>
		<dd> - Apodaca </dd>
		<dd> - Campeche </dd>
        <dd> - Chihuahua </dd>
		<dd> - Ciudad de México </dd>
		<dd> - Ensenada </dd>
        <dd> - Guadalajara </dd>
		<dd> - Juarez </dd>
		<dd> - Morelia </dd>
        <dd> - Saltillo </dd>
		<dd> - Veracruz </dd>
		<dd> - Zacatecas </dd>
	</dl>
    <br>
    <h3>El servicio de mudanzas de Multicasa incluye: </h5>
    <br>
    <dl>
        <dd> - 3 cargadores </dd>
		<dd> - Herramienta para maniobras </dd>
		<dd> - Hasta 2 emplayes de regalo </dd>
        <dd> - Maniobras de carga y descarga </dd>
		<dd> - Rampa y bandas para maniobra </dd>
    </dl>
    <br>
    <h3>En Multicasa tratamos cada uno de los bienes que transportamos como si fueran nuestros.</h5>
    <p>Para solicitar el servicio de mudanza por favor manda un correo desde la pagina de contacto explicando que quieres contratar este servicio.</p>
  </div>

{% endblock %}

{% block js %}{% endblock %}