{% extends 'templates/base.html' %}

{% block styles %}{% endblock %}

{% block body %}

<div class="container p-5 my-5 border">
    <h1>¿Quieres usar Multicasa para comprar, vender o mudarte al inmueble de tus sueños? </h1>
    <h2>Estos son los documentos que necesitas para lograrlo: </h2>
    <br>
    <h5> 1. Avaluo de la vivienda </h5>
    <p>Si la vivienda es de un particular: solicita el avalúo en cualquiera de las unidades de valuación con las que trabaja Multicasa. </p>
    <p>Si la vivienda es de una constructora: la constructora solicitará el avalúo. </p>
    <h5> 2. Acta de nacimiento original y copia. </h5>
    <h5> 3. Identificación oficial (INE/IFE) o pasaporte vigente, en original y copia.</h5>
    <h5> 4. Copia del CURP. </h5>
    <h5> 5. Copia de la cedula fiscal. </h5>
    <h5> 6. Estado de cuenta bancario del vendedor con CLABE (Clave Bancaria Estandarizada) en copia, no mayor a 2 meses.</h5>
    <h5> 7. Si la vivienda es de un particular, presenta copia del titulo de propiedad de la vivienda a adquirir. En caso de ser de una 
        constructora, el titulo de propiedad se emitira a tu nombre al concluir el proceso de titulacion.
    </h5>
</div>

<div class="container p-5 my-5 bg-primary text-white">
    <h3>Ten en cuenta que: </h3>
    <p><mark>Si tienes el acta de nacimiento en digital sigue siendo valida.</mark></p>
    <p><mark>La identificación oficial debe estar vigente y puede ser: credencial para votar (INE/IFE) o pasaporte.</mark></p>
  </div>

{% endblock %}

{% block js %}{% endblock %}