{% extends 'templates/base.html' %}

{% block styles %}{% endblock %}

{% block body %}

<div class="container p-5 my-5 border">
    <h1>Servicios que ofrecemos:</h1>
    <br>
    <h3>Venta</h3>
    <br>
    <h5>El servicio de venta que ofrecemos consiste en ingresar la información sobre el inmueble que quieres vender a nuestro sitio web,
         al paso de unos días le contactará uno de nuestros agentes para visitar el inmueble, realizar un análisis sobre sus condiciones
          y establecer los parámetros de la venta. </h5>
    <br>
    <h3>Compra</h3>
    <br>
    <h5>El servicio de compra que ofrecemos consiste en visitar la lista de inmuebles que ofrecemos, seleccionar el que llame su atención
         y contactar a uno de nuestros agentes, al paso de unos días usted podrá seguir el proceso de compra junto con nuestro agente y
          para cualquier imprevisto siempre podrá contactar a alguno de nuestros líderes de ventas. </h5>
    <br>
    <h3>Mudanzas</h3>
    <br>
    <h5>El servicio de mudanzas que ofrecemos aún no está disponible en todo el país, solo en algunas ciudades seleccionadas, sin embargo,
         si en su ciudad lo está, usted contactarnos a uno de nuestros agentes y darnos toda la información sobre la mudanza, al paso de
          unos días uno de nuestros agentes lo contactara para continuar con el proceso.</h5>
  </div>

{% endblock %}

{% block js %}{% endblock %}